    <!-- About Section -->
    <section id="about" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <br/><br/>

                <h2>About Me</h2>

                <br/>

                <p class="being-a-nerd">Hello, World! My name is Nancy Tao.</p><br/>

                <p>
                I'm a first year <a href="http://www.cc.gatech.edu/">computer science</a> student at Georgia Tech with concentrations in <a href="http://www.cc.gatech.edu/intelligence">intelligence</a> and <a href="http://www.cc.gatech.edu/information-internetworks">information internetworks</a>. I'm particularly interested in natural language processing, information security, and web development. Currently, I'm spending my free time learning the MEAN stack through <a href="http://freecodecamp.com/">Free Code Camp</a> and exploring the beautiful city of Atlanta.
                <br/><br/>
                Outside of the technical stuff, I also geek out about (in no particular order)
                <a href="http://www.edpolicythoughts.com/">education</a>,
                <a href="https://play.spotify.com/album/1kCHru7uhxBUdzkm4gzRQc">musical theater</a>,
                <a href="https://twitter.com/JustToSayBot">twitter bots</a>,
                <a href="https://en.wikipedia.org/wiki/Special:Random">Wikipedia</a>,
                <a href="https://brainpickings.org/">thinking about life</a>,
                <a href="http://www.bmds.bm/files/14/files/productions/arcadia/arcadia-by-tom-stoppard.pdf">literature</a>,
                <a href="https://www.ted.com/talks/stuart_firestein_the_pursuit_of_ignorance">TED talks</a>,
                <a href="https://www.etsy.com/shop/CCADesign">bow ties</a>...
                <br/><br/>
                While I have a lot of ideas, I'm not sure yet what I want to do with my life. However, I know it's going to be an amazing ride, so join me!
                </p>

                <br/>
                <p class="being-a-nerd">System.exit(0);</p>
                <br/>
              </div>
        </div>
    </section>
